In [1]:
import pandas as pd 
import numpy as np

In [6]:
pd_data = pd.read_csv(
    './rental_price.csv',  delimiter=r"\s+")
pd_data = pd_data.drop("ID",axis=1)
pd_data

    SEASON  WORK_DAY  RENTALS
0   winter     False      800
1   winter     False      826
2   winter      True      900
3   spring     False     2100
4   spring      True     4740
5   spring      True     4900
6   summer      True     3000
7   summer      True     5800
8   autumn     False     6200
9   autumn     False     2910
10  autumn      True     2880
11  summer     False     2820

In [41]:
def get_var(df):
    mean_value = df["RENTALS"].mean()
    number_of_data = len(df["RENTALS"])
    return sum((df["RENTALS"] - mean_value)**2) / (number_of_data -1)

In [42]:
get_var(pd_data)

3569590.4242424248

In [53]:
def get_attribute_weighted_var(df, attribute_name):
    levels = df[attribute_name].unique()
    sum_of_weighted_variance = []
    for level in levels:
        split_df = df.loc[df[attribute_name] == level]
        sum_of_weighted_variance.append(
            (len(split_df)/len(df))* get_var(split_df)
        )
    return sum(sum_of_weighted_variance )

In [54]:
get_attribute_weighted_var(pd_data, "SEASON")

2227148.0

In [55]:
get_attribute_weighted_var(pd_data, "WORK_DAY")

3567498.6666666665